* {
    box-sizing: border-box;
}

.app {
    padding-top: 4rem;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-color: #FAFAFA;
    background: url('https://raw.githubusercontent.com/lyjenewein/pokedex_react_app/master/pokedex/src/pattern.png');
}
